html {
    max-width: 70ch;
    padding: 1.5rem;
    margin: auto;
    font-size: 1.5rem;
    margin-top: 0;
}

header {
    margin-bottom: 3rem;
}

body {
    font-family: 'Space Mono', monospace;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 2rem;
}


h1,h2,h3,h4,h5,h6, p {
    margin-top: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

p, ul, ol {
    color: #1d1d1d;
}

.post-date {
    margin: 0;
    padding: 0;
    display: block;
}

.page-link {
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.page-link:hover {
    text-decoration: underline;
    color: #31a196d8;
}

.page-link:visited {
    color: #31a196d8;
}

.post-link {
    font-size: 1.5rem;
}

.post-link:hover {
    font-size: 1.8rem;
}

.title-link {
    color: #31a196d8;
}

.title-link:hover {
    font-size: 2.4rem;
}

.inline-link {
    color: #31a196d8;
    text-decoration: underline;
}

.inline-link:hover {
    font-size: 1.2rem;
}

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #31a196d8;
}

.fa:hover {
    font-size: 3.6rem;
}

.icons {
    margin: 0 auto;
    max-width: 21rem;
}

.icon {
    display: inline-block;
}